{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
    <title>Title</title>
</head>
<body>

<div class="container-fluid mt-5">
<table>


    {% for form in formset.forms %}
            <tr >
                {% for field in form.visible_fields %}
                <td>
                    {# Include the hidden fields in the form #}
                    {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    {% endif %}
                    {{ field.errors.as_ul }}
                    {{ field|as_crispy_field }}
                </td>
                {% endfor %}
            </tr>
    {% endfor %}

</table>
<br>

</div>
{#<script>#}
{#    var mass={};#}
{#    var send=document.getElementById("send");#}
{#   send.addEventListener("click",function (){#}
{##}
{#    var tds=document.querySelectorAll("#qurilish input");#}
{#       for (var i=0; i<tds.length; i++){#}
{##}
{#       mass[i]=tds[i].value;#}
{##}
{#    }#}
{##}
{#       console.log(mass);#}
{##}
{#       var data=JSON.stringify(mass);#}
{#       var xhr = new XMLHttpRequest();#}
{##}
{#       xhr.open("POST", 'send', true);#}
{#       xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');#}
{##}
{#       xhr.send(data);#}
{##}
{#       return data;#}
{#       //var xhr= new XMLHttpRequest();#}
{##}
{##}
{#   })#}
{##}
{#</script>#}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'app/js/bootstrap.min.js' %}">
</body>

</html>